
// Grid Layout
@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(06em, 1fr));
    align-content: center;
}
// Flex
@mixin flex ($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}

